.navbar {
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7));
  height: 100%;
  width: 240px;
  padding: var(--mantine-spacing-sm) 0;
  display: flex;
  flex-direction: column;
  border-right: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
  flex-shrink: 0;
}

.links {
  flex: 1;
}

.linksInner {
  padding: 0 var(--mantine-spacing-xs);
}
