.navbar {
  background-color: var(--mantine-color-white);
  height: 100%;
  width: 240px;
  padding: var(--mantine-spacing-sm) 0;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--mantine-color-gray-2);
  flex-shrink: 0;
}

.links {
  flex: 1;
}

.linksInner {
  padding: 0 var(--mantine-spacing-xs);
}
